@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

@layer utilities {
  @keyframes pulseBlueSoft {
    0% {
      fill: #e5e7eb;
      /* açık gri - default */
      opacity: 0.95;
    }

    50% {
      fill: rgba(37, 99, 235, 0.35);
      /* biraz daha koyu soft mavi */
      opacity: 1;
    }

    100% {
      fill: #e5e7eb;
      opacity: 0.95;
    }
  }

  .has-db {
    animation: pulseBlueSoft 2.4s ease-in-out infinite;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(1.5);
      opacity: 0.8;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .animate-heartbeat {
    animation: heartbeat 2s infinite ease-in-out;
    transform-origin: center;
  }
}